

*__pycache__*

flask-by-example

*.csv

*.ipynb

*.org

*.lp

*.log

*.pdf

*~

static/d3*.js

static/ne*

static/solver-*.js
static/solver-*.css

static/datapackage.json

static/*admin*json

static/README.md

*results-*.json

*.nc

*.soln

assumptions

iptables*

analysis

testing

data/

venv/

move_*

*.zip

nomopyomo.py

symlink_weather.py

plot/

assumptions-hash/

static/d*

!defaults.csv
!defaults-initial.csv
