


#container {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    box-shadow: 1px 1px 1px 2px rgb(217, 217, 217);
}

/* Clear floats after the columns */
#container:after {
    content: "";
    display: table;
    clear: both;
}


#assumptions {
    float: left;
    width: 600px;
}


#selectCountry {
    float: left;
    width: 500px;
    height: 500px;
}

#mapid {
    float: left;
    width: 450px;
    height: 450px;
}


#solve {
    float: left;
    width: 600px;
}




#solve-button {
    background: #f08080;
    padding-right: 26px;
    border-radius: 3px;
    border: none;
    color: white;
    margin: 0;
    padding: 0 12px;
    width: 80px;
    cursor: pointer;
    height: 30px;
}

#status {
    color: red;
}


#results {
    float: left;
    width: 1100px;
}


#results_summary {
    float: left;
    width: 500px;
}

#legend {
    float: left;
    width: 600px;
}


#graph {
    float: left;
    width: 1100px;
}



#jumpmenu {
    width: 100px;
}
