


#container {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    box-shadow: 1px 1px 1px 2px rgb(217, 217, 217);
}

/* Clear floats after the columns */
#container:after {
    content: "";
    display: table;
    clear: both;
}



#assumptions {
    float: left;
    width: 1100px;
}


/* Clear floats after the columns */
#introduction:after {
    content: "";
    display: table;
    clear: both;
}




#assumptions {
    float: left;
    width: 600px;
}


#selectCountry {
    float: left;
    width: 500px;
    height: 500px;
}

#mapid {
    float: left;
    width: 450px;
    height: 450px;
}


#solve {
    float: left;
    width: 600px;
}




#solve-button {
    background: #f08080;
    padding-right: 26px;
    border-radius: 3px;
    border: none;
    color: white;
    margin: 0;
    padding: 0 12px;
    width: 80px;
    cursor: pointer;
    height: 30px;
}


#solve-button-busy {
    background: #888888;
    padding-right: 26px;
    border-radius: 3px;
    border: none;
    color: white;
    margin: 0;
    padding: 0 12px;
    width: 80px;
    cursor: pointer;
    height: 30px;
}


#status {
    color: red;
}


#results {
    float: left;
    width: 1100px;
}


/* Clear floats after the columns */
#results:after {
    content: "";
    display: table;
    clear: both;
}


#results_summary {
    float: left;
    width: 450px;
}

#average_cost_div {
    float: left;
    width: 111px;
}

#energy {
    float: left;
    width: 111px;
}

#power_capacity {
    float: left;
    width: 111px;
}

#energy_capacity {
    float: left;
    width: 111px;
}

#legend {
    float: left;
    width: 200px;
}


#graph {
    float: left;
    width: 1100px;
}



#jumpmenu {
    width: 100px;
}

#end {
    float: left;
    width: 1100px;
}


tab_asset {
    text-align: left;
}

.tab_data {
    text-align: right;
}

#tab_results {
    width: 430px;
}

#tabh_asset {
    width: 30%;
}

#tabh_capacity {
    width:22%;
}

#tabh_cf_available {
    width:16%;
}

#tabh_cf_used {
    width:16%;
}

#tabh_curtailment {
    width:16%;
}
