<!DOCTYPE html>
<html>
  <head>
    <title>model.energy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
      integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-draw@1.0.2/dist/leaflet.draw.css" />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q==" crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-draw@1.0.2/dist/leaflet.draw.js"></script>
    <script src="{{ url_for('static', filename='d3.v4.min.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='d3-tip.js') }}" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='solver.css') }}">
  </head>

  <body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">model.energy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#intro">Introduction</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#location">Select location</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#time-series">Fetch wind & solar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#assumptions">Choose technologies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#solve">Solve</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#background">Background</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="bg-primary text-white">
      <div class="container text-center">
        <h1>Build your own zero-emission electricity supply</h1>
      </div>
    </header>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 toc-col">
          <nav id="toc" class="sticky-top"></nav>
        </div>

        <div class="col-md-12 col-lg-9">
          <div class="container-like">

            <section id="intro">
              <h2>Introduction</h2>
              <hr>
              <p>
                This tool calculates the cost of meeting constant electricity demand from a combination of wind power, solar power and storage (using batteries and hydrogen from electrolysis of water) for different regions of the world.</p>
	      <p>First choose your location to determine the weather data for the wind and solar generation. Then choose your cost and technology assumptions to find the solution with least cost.</p>
              <p>Fun things to try out:</p>
              <ul>
                <li>remove technologies with the checkboxes, e.g. hydrogen gas storage or wind, and see system costs rise</li>
                <li>set solar or battery costs very low, to simulate breakthroughs in manufacturing</li>
              </ul>
              <p>This is a <b>toy model</b> with a <b>strongly simplified</b> setup. Please read the <a class="js-scroll-trigger" href="#background">warnings</a> below.</p>
            </section>

            <section id="location">
              <h2 data-toc-text="1. Select location and weather year">Step 1: Select location and weather year</h2>
              <hr>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="selectLocation" checked id="selectByCountry">
                <label class="form-check-label" for="selectByCountry">
                  Select country
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="selectLocation" id="selectByRegion">
                <label class="form-check-label" for="selectByRegion">
		  Select state or province (for Australia, China, Germany, India, Russia and United States)
                </label>
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="selectLocation" id="selectByLatLon">
                <label class="form-check-label" for="selectByLatLon">
                  Select point, rectangle or polygon, using the toolbox that appears at top-right
                </label>
              </div>
              <div id="mapid">
              </div>
              <br />
              <div class="form-group">
                <label for="countrySelecter">Location</label>
                <input type="text" class="form-control" id="countrySelecter" aria-describedby="countrySelect" name="location_name" readonly>
                <small id="countrySelect" class="form-text text-muted">Select from map above.</small>
              </div>
              <div class="form-group">
                <label for="weatherSelector">Weather year</label>
                <input type="number" class="form-control" id="weatherSelector" aria-describedby="weatherSelect" name="year">
                <small id="weatherSelect" class="form-text text-muted">Only years from 2011 to 2013 inclusive are available (until we get a bigger hard-drive).</small>
              </div>
              <div class="form-group">
                <label for="distributionSelector">Capacity factor exponent for spatial distribution of wind and solar</label>
                <input type="number" class="form-control" id="distributionSelector" aria-describedby="distributionSelect" name="cf_exponent">
                <small id="distributionSelect" class="form-text text-muted">If exponent is 0 generators are distributed evenly across the region, if it is 1 they are distributed proportional to capacity factor, if it is x they are distributed proportional to (capacity factor)^x.</small>
              </div>
            </section>

            <section id="time-series">
              <h2 data-toc-text="2. Fetch available wind and solar output">Step 2: Fetch available wind and solar output</h2>
              <hr>
              <p>
                <b>Warning:</b> It takes about 4 seconds to fetch the available wind and solar output (longer for custom selections).
              </p>
	      <p>
		<button type="button" class="btn btn-lg btn-primary" id="weather-button">Fetch wind & solar</button>
		&nbsp;&nbsp;Status: <span id="weather-status">Waiting for job</span>
	      </p>
              <div class="col-xs-12 col-lg-6" id="chartArea">
                <svg width="1100" height="500" id="weather"></svg>
              </div>
              <p><span id="capacity-factors"></span></p>
              <p><span id="weather-download"></span></p>
              <p><span id="weather-link"></span></p>
            </section>

            <section id="assumptions">
              <h2 data-toc-text="3. Choose technologies, costs and other assumptions">Step 3: Choose technologies, costs and other assumptions</h2>
              <hr>
              <div class="form-group">
                <label for="samplingSelector">Constant electricity demand [MW]</label>
                <input type="number" class="form-control" id="samplingSelector" name="load">
                <small class="form-text text-muted">Demand is large enough for utility-scale assets but small enough to neglect land constraints.</small>
              </div>
              <div class="form-group">
                <label for="tech_scenario">Technology assumption scenario</label>
                <select class="form-control" name="tech_scenario" id="tech_scenario">
                  <option value="2020">2020 scenario</option>
                  <option value="2030" selected>2030 scenario</option>
                  <option value="2050">2050 scenario</option>
                </select>
                <small class="form-text text-muted">Individual cost assumptions can be changed below under <em>advanced assumption settings</em>.</small>
              </div>
              <p>Choose which technologies should be included:</p>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="wind" id="techCheck1">
                <label class="form-check-label" for="techCheck1">
                  Wind turbine
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="solar" id="techCheck2">
                <label class="form-check-label" for="techCheck2">
                  Solar photovoltaic cell
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="battery" id="techCheck3">
                <label class="form-check-label" for="techCheck3">
                  Battery storage
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="hydrogen" id="techCheck4">
                <label class="form-check-label" for="techCheck4">
                  Hydrogen gas storage
                </label>
              </div>
              <br>
              <p>
                <a class="btn btn-secondary" data-toggle="collapse" href="#advCost" role="button" aria-expanded="false" aria-controls="advCost">Show advanced assumption settings</a>
              </p>
              <div class="row">
                <div class="col">
                  <div class="collapse multi-collapse" id="advCost">
                    <div class="card card-body">
                      <div class="form-group">
                        <label for="samplingSelector">Sampling frequency</label>
                        <input type="number" class="form-control" id="samplingSelector" aria-describedby="samplingSelect" name="frequency">
                        <small id="samplingSelect" class="form-text text-muted">n-hourly, n&lt;3 is very slow, big n solves faster (n=25 or n=49 give fast and relatively accurate results).</small>
                      </div>
                      <div class="form-group">
                        <label for="avdSel1">Constant hydrogen demand [MW LHV]</label>
                        <input type="number" class="form-control" id="advSel0" name="hydrogen_load">
                      </div>
                      <div class="form-group">
                        <label for="avdSel1">Wind capital cost (overnight) [EUR/kWp]</label>
                        <input type="number" class="form-control" id="advSel1" name="wind_cost">
			<small class="form-text text-muted">Default assumption from Danish Energy Agency; includes grid connection costs.</small>
                      </div>
                      <div class="form-group">
                        <label for="avdSel2">Solar capital cost (overnight) [EUR/kWp]</label>
                        <input type="number" class="form-control" id="advSel2" name="solar_cost">
			<small class="form-text text-muted">Default assumption from Danish Energy Agency; cost assumes panel:inverter output ratio of 1.35.</small>
                      </div>
                      <div class="form-group">
                        <label for="avdSel3">Battery energy capital cost (overnight) [EUR/kWh]</label>
                        <input type="number" class="form-control" id="advSel3" name="battery_energy_cost">
			<small class="form-text text-muted">Default assumption from Danish Energy Agency.</small>
                      </div>
                      <div class="form-group">
                        <label for="avdSel4">Battery power capital cost (overnight) [EUR/kW]</label>
                        <input type="number" class="form-control" id="advSel4" name="battery_power_cost">
			<small class="form-text text-muted">Default assumption from Danish Energy Agency; power costs include e.g. inverter.</small>
                      </div>
                      <div class="form-group">
                        <label for="avdSel5">Hydrogen energy capital cost (overnight) [EUR/kWh]</label>
                        <input type="number" class="form-control" id="advSel5" name="hydrogen_energy_cost">
			<small class="form-text text-muted">Default assumption from Welder et al 2018; costs assume salt caverns in suitable underground salt deposits. For aboveground steel talks, replace with 11 EUR/kWh.</small>
                      </div>
                      <div class="form-group">
                        <label for="avdSel6">Hydrogen electrolyser capital cost (overnight) [EUR/kW]</label>
                        <input type="number" class="form-control" id="advSel6" name="hydrogen_electrolyser_cost">
			<small class="form-text text-muted">Default assumption from Danish Energy Agency.</small>
                      </div>
                      <div class="form-group">
                        <label for="avdSel7">Hydrogen electrolyser efficiency [percent, LHV]</label>
                        <input type="number" class="form-control" id="advSel7" name="hydrogen_electrolyser_efficiency">
			<small class="form-text text-muted">Default assumption from Danish Energy Agency.</small>
                      </div>
                      <div class="form-group">
                        <label for="avdSel8">Hydrogen combined cycle turbine (or fuel cell - see below) capital cost (overnight) [EUR/kW]</label>
                        <input type="number" class="form-control" id="advSel8" name="hydrogen_turbine_cost">
			<small class="form-text text-muted">Default assumption from Danish Energy Agency; assumption taken from that for natural gas CCGT.</small>
                      </div>
                      <div class="form-group">
                        <label for="avdSel9">Hydrogen turbine efficiency [percent, LHV]</label>
                        <input type="number" class="form-control" id="advSel9" name="hydrogen_turbine_efficiency">
			<small class="form-text text-muted">Default assumption from Danish Energy Agency; assumption taken from that for natural gas CCGT.</small>
                      </div>
                      <div class="form-group">
                        <label for="avdSel10">Cost of capital / interest rate [percent]</label>
                        <input type="number" class="form-control" id="advSel10" name="discount_rate">
                      </div>
		      <div class="form-check">
			<input class="form-check-input" type="checkbox" name="dispatchable1" id="techCheck5">
			<label class="form-check-label" for="techCheck5">
			  Dispatchable technology 1
			</label>
			<small class="form-text text-muted">Default assumption is based on open cycle natural gas turbine (OCGT).</small>
		      </div>
                      <div class="form-group">
                        <label for="avdSel11">Dispatchable technology 1 capital cost (overnight) [EUR/kW]</label>
                        <input type="number" class="form-control" id="advSel11" name="dispatchable1_cost">
                      </div>
                      <div class="form-group">
                        <label for="avdSel12">Dispatchable technology 1 marginal cost (including fuel) [EUR/MWhel]</label>
                        <input type="number" class="form-control" id="advSel12" name="dispatchable1_marginal_cost">
                      </div>
                      <div class="form-group">
                        <label for="avdSel13">Dispatchable technology 1 emissions factor [gCO2eq/kWhel]</label>
                        <input type="number" class="form-control" id="advSel13" name="dispatchable1_emissions">
                      </div>
                      <div class="form-group">
                        <label for="avdSel14">Dispatchable technology 1 discount rate [percent]</label>
                        <input type="number" class="form-control" id="advSel14" name="dispatchable1_discount">
                      </div>
		      <div class="form-check">
			<input class="form-check-input" type="checkbox" name="dispatchable2" id="techCheck6">
			<label class="form-check-label" for="techCheck6">
			  Dispatchable technology 2
			</label>
			<small class="form-text text-muted">Default assumption is based on new nuclear EPR reactor in Europe.</small>
		      </div>
                      <div class="form-group">
                        <label for="avdSel15">Dispatchable technology 2 capital cost (overnight) [EUR/kW]</label>
                        <input type="number" class="form-control" id="advSel15" name="dispatchable2_cost">
                      </div>
                      <div class="form-group">
                        <label for="avdSel16">Dispatchable technology 2 marginal cost (including fuel) [EUR/MWhel]</label>
                        <input type="number" class="form-control" id="advSel16" name="dispatchable2_marginal_cost">
                      </div>
                      <div class="form-group">
                        <label for="avdSel17">Dispatchable technology 2 emissions factor [gCO2eq/kWhel]</label>
                        <input type="number" class="form-control" id="advSel17" name="dispatchable2_emissions">
                      </div>
                      <div class="form-group">
                        <label for="avdSel18">Dispatchable technology 2 discount rate [percent]</label>
                        <input type="number" class="form-control" id="advSel18" name="dispatchable2_discount">
                      </div>
		      <div class="form-check">
			<input class="form-check-input" type="checkbox" name="co2_limit" id="co2_limit">
			<label class="form-check-label" for="co2_limit">
			  Limit on CO2 emissions
			</label>
		      </div>
                      <div class="form-group">
                        <label for="avdSel19">Maximum average system emissions [gCO2eq/kWhel]</label>
                        <input type="number" class="form-control" id="avdSel19" name="co2_emissions">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>


            <section id="solve">
            <h2 data-toc-text="4. Solve and wait for results">Step 4: Solve and wait for results</h2>
            <hr>
            <p>
              <button type="button" class="btn btn-lg btn-primary" id="solve-button">Solve</button>
              &nbsp;&nbsp;<span id="countdown">Ready in around 10 seconds</span>, status: <span id="status">Waiting for job</span>
            </p>
            <div class="accordion" id="accordionResults">
                <div id="collapseResults" class="collapse" data-parent="#accordionResults">
                  <div class="card-body">
                    <div id="results">
                      <div id="results_summary">
                        <h3 data-toc-skip>Results<span id="results_assumptions"></span></h3>
                        <p>Baseload electricity demand: <span id="load"></span> MW</p>
                        <p>Baseload hydrogen demand: <span id="hydrogen_load"></span> MW</p>
                        <table id="tab_results">
                          <tr>
                            <th class="tab_asset" id="tabh_asset">Asset</th>
                            <th class="tab_data" id="tabh_capacity">Capacity</th>
                            <th class="tab_data" id="tabh_cf_used">Cap Ftr used [%]</th>
                            <th class="tab_data" id="tabh_cf_available">Cap Ftr avail [%]</th>
                            <th class="tab_data" id="tabh_curtailment">Curtlmt [%]</th>
                            <th class="tab_data" id="tabh_rmv">Rel Mkt Value [%]</th>
                          </tr>
                          <tr>
                            <td class="tab_asset">Solar</td>
                            <td class="tab_data"><span id="solar_capacity"></span> MW</td>
                            <td class="tab_data"><span id="solar_cf_used"></span></td>
                            <td class="tab_data"><span id="solar_cf_available"></span></td>
                            <td class="tab_data"><span id="solar_curtailment"></span></td>
                            <td class="tab_data"><span id="solar_rmv"></span></td>
                          </tr>
                          <tr>
                            <td class="tab_asset">Wind</td>
                            <td class="tab_data"><span id="wind_capacity"></span> MW</td>
                            <td class="tab_data"><span id="wind_cf_used"></span></td>
                            <td class="tab_data"><span id="wind_cf_available"></span></td>
                            <td class="tab_data"><span id="wind_curtailment"></span></td>
                            <td class="tab_data"><span id="wind_rmv"></span></td>
                          </tr>
                          <tr>
                            <td class="tab_asset">Battery power</td>
                            <td class="tab_data"><span id="battery_power_capacity"></span> MW</td>
                            <td class="tab_data"><span id="battery_power_cf_used"></span></td>
                            <td class="tab_data"></td>
                            <td class="tab_data"></td>
                            <td class="tab_data"><span id="battery_power_rmv"></span>/<span id="battery_discharge_rmv"></span></td>
                          </tr>
                          <tr>
                            <td class="tab_asset">Battery energy</td>
                            <td class="tab_data"><span id="battery_energy_capacity"></span> MWh</td>
                            <td class="tab_data"><span id="battery_energy_cf_used"></span></td>
                            <td class="tab_data"></td>
                            <td class="tab_data"></td>
                          </tr>
                          <tr>
                            <td class="tab_asset">Hydrogen electrolyser</td>
                            <td class="tab_data"><span id="hydrogen_electrolyser_capacity"></span> MW</td>
                            <td class="tab_data"><span id="hydrogen_electrolyser_cf_used"></span></td>
                            <td class="tab_data"></td>
                            <td class="tab_data"></td>
                            <td class="tab_data"><span id="hydrogen_electrolyser_rmv"></span></td>
                          </tr>
                          <tr>
                            <td class="tab_asset">Hydrogen turbine</td>
                            <td class="tab_data"><span id="hydrogen_turbine_capacity"></span> MW</td>
                            <td class="tab_data"><span id="hydrogen_turbine_cf_used"></span></td>
                            <td class="tab_data"></td>
                            <td class="tab_data"></td>
                            <td class="tab_data"><span id="hydrogen_turbine_rmv"></span></td>
                          </tr>
                          <tr>
                            <td class="tab_asset">Hydrogen energy</td>
                            <td class="tab_data"><span id="hydrogen_energy_capacity"></span> MWh</td>
                            <td class="tab_data"><span id="hydrogen_energy_cf_used"></span></td>
                            <td class="tab_data"></td>
                            <td class="tab_data"></td>
                          </tr>
                          <tr>
                            <td class="tab_asset">Dispatchable1</td>
                            <td class="tab_data"><span id="dispatchable1_capacity"></span> MW</td>
                            <td class="tab_data"><span id="dispatchable1_cf_used"></span></td>
                            <td class="tab_data"></td>
                            <td class="tab_data"></td>
                            <td class="tab_data"><span id="dispatchable1_rmv"></span></td>
                          </tr>
                          <tr>
                            <td class="tab_asset">Dispatchable2</td>
                            <td class="tab_data"><span id="dispatchable2_capacity"></span> MW</td>
                            <td class="tab_data"><span id="dispatchable2_cf_used"></span></td>
                            <td class="tab_data"></td>
                            <td class="tab_data"></td>
                            <td class="tab_data"><span id="dispatchable2_rmv"></span></td>
                          </tr>
                        </table>
                        <br />
                        <p><b>Average system cost [EUR/MWh]: <span id="average_cost"></span></b></p>
                        <p><span id="average_electricity_price"></span></p>
                        <p><span id="average_hydrogen_price_mwh"></span></p>
                        <p><span id="average_hydrogen_price_kg"></span></p>
                      </div>
                      <div id="average_cost_div">
                        <svg width="110" height="400" id="average_cost_graph"></svg>
                      </div>
                      <div id="power_capacity">
                        <svg width="110" height="400" id="power_capacity_graph"></svg>
                      </div>
                      <div id="energy_capacity">
                       <svg width="110" height="400" id="energy_capacity_graph"></svg>
                      </div>
                      <div id="energy">
                        <svg width="110" height="400" id="energy_graph"></svg>
                      </div>
                      <div id="legend">
                        <h3 data-toc-skip>Legend</h3>
                      </div>
                    </div>
                    <div id="graph">
                      <svg width="1100" height="500" id="power"></svg>
                    </div>
                    <br /><br />
                    <p><span id="results-overview-download"></span></p>
                    <p><span id="results-series-download"></span></p>
                    <p><span id="results-link"></span></p>
                  </div>
                </div>
              </div><!-- accordion-->
            </section>

            <section id="background">
              <h2>Background and warnings</h2>
              <hr>
              <p>
                This is a <b>toy model</b> with a <b>strongly simplified</b> setup.
                Please read the <a href="https://github.com/PyPSA/WHOBS#warnings">warnings</a> before interpreting the results. In particular:
              </p>
              <ol>
                <li>
                  Electricity systems with zero direct CO2 emissions can be
                  built more cheaply by using additional technology options. The
                  examples here are simply a toy model to put an upper bound on the
                  costs for a very simple setup. Additional generation technologies
                  which may reduce costs include using existing hydroelectric
                  generators, biomass from sustainable resources (such as waste and
                  agricultural/forestry residues), offshore wind, concentrating
                  solar thermal, geothermal, ocean energy, nuclear and
                  fossil/biomass plants with CCS. Additional storage technologies
                  include redox flow batteries, compressed air energy storage,
                  etc. Other options include demand-side management.
                </li>
                <li>
                  No import or export capacities with other countries are
                  assumed, so each country must meet the baseload profile by
                  itself. Existing and planned transmission grid connections between
                  countries can reduce costs by up to 20% by smoothing wind over a
                  larger area (see e.g. <a href="https://arxiv.org/abs/1704.05492">this paper</a> or <a href="https://arxiv.org/abs/1705.07617">this one</a>).
                </li>
                <li>
                  Including energy demand sectors other than electricity, like transport, heating and non-electric industrial demand can offer additional flexibility (e.g. load-shifting by battery electric vehicles and electrified heating with thermal storage), see e.g. <a href="https://arxiv.org/abs/1801.05290">this paper</a> or <a href="https://doi.org/10.1016/j.rser.2016.02.025">this one</a>.
                </li>
                <li>
                  Costs here are for completely decarbonised electricity systems. Reaching lower levels of decarbonisation is much cheaper and doesn't necessarily require any storage at all.
                </li>
                <li>
                  The wind profiles used here are converted from wind speed time series assuming an existing wind turbine model (Vestas V112 3MW with a hub height of 80m). Newer and future turbines will have higher capacity factors because e.g. they're taller, capturing wind energy where resources are better.
                </li>
                <li>
                  Solar profiles are calculated assuming that panels in the northern hemisphere face south, and that panels in the southern hemisphere face north, with a slope of 35 degrees against the horizontal in both cases.
                </li>
                <li>
                  Because the wind and solar profiles are computed using a fixed distribution of power plants, there is no possibility to optimise the distribution of power plants within each country to reduce the costs of providing a baseload profile.
                </li>
                <li>
                  The time series for wind and solar generation are
                  based on the European Centre for Medium-Range
                  Weather Forecasts
                  (ECMWF) <a href="https://cds.climate.copernicus.eu/cdsapp#!/dataset/reanalysis-era5-single-levels">ERA5 reanalysis
                  dataset</a>. Reanalysis datasets are generated by fitting numerical weather simulations to real measured data. In regions where real measurements are sparse, reanalysis data may deviate from observed weather patterns. In addition, reanalysis datasets may not always capture clouds accurately, so for PV generation it is advisable to include satellite observations in calculations, such as the <a href="https://wui.cmsaf.eu/safira/action/viewDoiDetails?acronym=SARAH_V002">CMSAF SARAH II dataset</a> (available only for Europe and Africa).
                </li>
                <li>
                  The costs for hydrogen storage assume hydrogen gas is stored underground. The costs for underground hydrogen storage are taken from Table 3 of <a href="https://www.nrel.gov/docs/fy10osti/46719.pdf">this NREL study</a>, using the most expensive option ("rock caverns created by excavating comparatively impervious rock formations"). Where salt deposits exist, salt caverns may be cheaper. Studies on salt deposit availability are available for most countries, see e.g. <a href="https://www.researchgate.net/figure/Underground-salt-deposits-and-cavern-fields-in-Europe-225_fig5_319417820">this map</a> for Europe.
                </li>
                <li>
                  Costs for the electricity grid inside each country and costs for ancillary services are not included.
                </li>
              </ol>
              <p>
                To see an animation of a 95% decarbonised European electricity system,
                including more renewable energy technologies and cross-border
                transmission connections, see:
              </p>
              <p><a href="https://pypsa.org/animations/pypsa-eur-30/">PyPSA-Eur-30
              animation</a></p>
              <p>Here asset lifetimes are all assumed to be 25
                years, with the exception of batteries (15 years) and hydrogen
                electrolysers (20 years). Battery charging and discharging
                efficiencies are both 90%. Fixed Operation and Maintenance (FOM)
                costs are set at 3% of the investment cost of the asset per
              year.</p>
              <p>The sources for most of the assumptions can be found
                in <a href="https://github.com/PyPSA/WHOBS/blob/master/assumptions.csv">this
                table</a>.</p>
                <p>Fuel cells could be used instead of combined or open cycle turbines for hydrogen to power. Fuel cells are less mature than turbines, but have better chances of cost reduction and efficiency improvement.</p>
              <p>To avoid long job times, the default here is to run only for a single
                weather year sampled at most every 3 hours. You can find solved
                versions run against every hour over 31 weather years here at
                the <a href="https://github.com/PyPSA/WHOBS">WHOBS repository</a>.</p>
              <h3>Only free software and open data</h3>
              <p>The graphical user interface,
		weather processing and optimisation model construction and post-processing are all built with
		free software and open data only. The commercial optimisation solver <a href="https://www.gurobi.com">Gurobi</a> is used for its
		high performance on this website, but it can also be replaced with an open source solver such as <a href="https://github.com/coin-or/Clp">CLP</a> if
		performance is not required.  The
                code for all parts except the solver can be downloaded from the GitHub
                repository <a href="https://github.com/PyPSA/whobs-server">whobs-server</a>. It uses
                the <a href="https://github.com/PyPSA/PyPSA">Python for Power
                System Analysis (PyPSA)</a> energy optimisation framework, open
                weather data
                from the European Centre for Medium-Range Weather Forecasts (ECMWF) <a href="https://cds.climate.copernicus.eu/cdsapp#!/dataset/reanalysis-era5-single-levels">ERA5 reanalysis dataset</a>, the <a href="https://github.com/FRESNA/atlite">atlite library</a> for converting weather data to generation profiles,
                the <a href="https://projects.coin-or.org/Clp">Clp</a> solver, <a href="https://d3js.org/">D3.js</a> for graphics, <a href="https://www.mapbox.com/">Mapbox</a>, <a href="http://leafletjs.com/">Leaflet</a> and <a href="https://www.naturalearthdata.com/">Natural Earth</a> for maps,  and
              free software for the server infrastructure (GNU/Linux, nginx, Flask, gunicorn, Redis).</p>
              <h3>New functionality coming soon</h3>
              <ul>
                <li>Real electricity demand profiles</li>
                <li>Comparison to today's electricity prices</li>
                <li>Other demand sectors (transport, heating and industry)</li>
                <li>Demand-side management</li>
              </ul>
              <h3>Problems/comments/feedback/help out</h3>
              <p>If you encounter any problems please use the <a href="https://github.com/PyPSA/whobs-server/issues">GitHub issue tracker</a>. It would be helpful to note the jobid and any other error messages from your browser's JavaScript console (find the console via your browser's "Developer Tools").</p>
              <p>If you want to help out and contribute improvements, please submit a <a href="https://github.com/PyPSA/whobs-server/pulls">pull request</a>!</p>
              <p>Any other feedback and comments can be sent to <a href="https://nworbmot.org/">Tom Brown</a>.</p>
              <h3>Contributors and thanks</h3>
	      <ul>
                <li><a href="https://nworbmot.org/">Tom Brown</a> conceived and developed the website.</li>
                <li><a href="https://tberg.dk">Bo Tranberg</a> of <a href="https://ento.ai">Ento Labs</a> implemented the user interface in <a href="https://getbootstrap.com">bootstrap</a>.</li>
                <li><a href="https://github.com/coroa">Jonas Hörsch</a> developed the library <a href="https://github.com/PyPSA/atlite">atlite</a> that processes the weather data and selects different geographical areas.</li>
              </ul>
	      <p>We thank also all the developers of the other free software on which model.energy depends.</p>
	      <p>We thank <a href="https://www.gurobi.com">Gurobi</a> for providing a fully featured commercial licence for the optimisation solver
		in order to enhance the performance of this website.</p>
              <h3>Privacy statement</h3>
              <p>No personal information is stored on the server. There are no cookies.</p>
              <p>Simulation assumptions and results for each job are stored on the server for statistical purposes.</p>
            </section>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.js"></script>
    <script src="{{ url_for('static', filename='jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scrolling-nav.js') }}"></script>
    <script type="text/javascript">
      var assumptions = JSON.parse('{{ settings|json }}');

      // Determine which navbar to assign scrollspy depending on window width
      if ($(window).width() >= 992) {
        $(function() {
          var navSelector = "#toc";
          var $myNav = $(navSelector);
          Toc.init($myNav);
          $("body").scrollspy({
            target: navSelector
          });
        });
      } else {
        $('body').scrollspy({
          target: '#mainNav',
          offset: 56
        });
      }
    </script>
    <script src="{{ url_for('static', filename='solver-191025.js') }}"></script>
  </body>
</html>
