<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
      integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
      crossorigin=""/>

<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
	integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
	   crossorigin=""></script>

<script src="{{ url_for('static', filename='d3.v4.min.js') }}" charset="utf-8"></script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='solver.css') }}">

</head>
<body>

  <div id="container">
    <h1>Solve WHOBS system</h1>


    <p>Some text.</p>


    <div id="assumptions">
      <h3>Choose technologies, costs and other assumptions</h3>
      <input type="text" name="country" value="FR"> European country (2-letter code)<br />
      <br />
      <input type="number" name="year"> Weather year (from 1985 to 2015 inclusive)<br />
      <br />
      <input type="checkbox" name="wind" checked> Wind turbine<br />
      <input type="number" name="wind_cost"> Wind capital cost (overnight) [EUR/kW]<br />
      <input type="checkbox" name="solar" checked> Solar photovoltaic cell<br />
      <input type="number" name="solar_cost"> Solar capital cost (overnight) [EUR/kW]<br />
      <input type="checkbox" name="battery" checked> Battery storage<br />
      <input type="number" name="battery_energy_cost"> Battery energy capital cost (overnight) [EUR/kWh]<br />
      <input type="number" name="battery_power_cost"> Battery power capital cost (overnight) [EUR/kW]<br />
      <input type="checkbox" name="hydrogen" checked> Hydrogen gas storage<br />
      <input type="number" name="hydrogen_energy_cost"> Hydrogen energy capital cost (overnight) [EUR/kWh]<br />
      <input type="number" name="hydrogen_electrolyser_cost"> Hydrogen electrolyser capital cost (overnight) [EUR/kW]<br />
      <input type="number" name="hydrogen_electrolyser_efficiency"> Hydrogen electrolyser efficiency [percent, HHV]<br />
      <input type="number" name="hydrogen_turbine_cost"> Hydrogen turbine capital cost (overnight) [EUR/kW]<br />
      <input type="number" name="hydrogen_turbine_efficiency"> Hydrogen turbine efficiency [percent, HHV]<br />
      <br />
      <input type="number" name="discount_rate"> Cost of capital / interest rate [percent]<br />
      <br />

      <div id="solve">
	<button id="solve-button">Solve</button>
	<p>Status: <span id="status">Waiting for job</span></p>
	<p>Average system cost [EUR/MWh]: <span id="objective"></span></p>
	<p>Solar capacity [MW]: <span id="solar_capacity"></span></p>
	<p>Wind capacity [MW]: <span id="wind_capacity"></span></p>
      </div>

    </div>

    <div id="mapid"></div>
  </div>
  <script src="{{ url_for('static', filename='solver.js') }}"></script>
</body>
</html>
