<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
      integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
      crossorigin=""/>

<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
	integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
	   crossorigin=""></script>

<script src="{{ url_for('static', filename='d3.v4.min.js') }}" charset="utf-8"></script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='solver.css') }}">

</head>
<body>

  <div id="container">
    <h1>Meet constant demand from wind+solar+storage with zero-direct-emissions using your own assumptions</h1>

    <p>This online tool calculates what it would cost to meet a
    constant "baseload" electricity demand profile from a combination
    of wind power, solar power and storage (using batteries and
    electrolysed hydrogen) for different European countries. It will
    be extended worldwide shortly.</p>

    <p>You can change the assumptions yourself (e.g. which country,
    which weather year, the selection of technologies, technological
    parameters and costs) and re-solve the system to see how it
    changes.</p>

    <p>This tool is built only with free software and open data; the
    code for it can be downloaded from the Github
    repository <a href="https://github.com/PyPSA/whobs-server">whobs-server</a>. In particular, it uses
    the <a href="https://github.com/PyPSA/PyPSA">Python for Power
    System Analysis (PyPSA)</a> energy optimisation framework, open
    weather data
    from <a href="https://www.renewables.ninja/">renewables.ninja</a>,
    the <a href="https://projects.coin-or.org/Clp">Clp</a> solver and
    free software for the server infrastructure (GNU/Linux, nginx, gunicorn, Redis).</p>

    <p>This is a <b>toy model</b> with a <b>strongly simplified</b> setup. Please read the <a href="https://github.com/PyPSA/WHOBS#warnings">warnings</a> before interpreting the results. In particular:</p>

    <p>1) Electricity systems with zero direct CO2 emissions can be
    built more cheaply by using additional technology options. The
    examples here are simply a toy model to put an upper bound on the
    costs for a very simple setup. Additional generation technologies
    which may reduce costs include using existing hydroelectric
    generators, biomass from sustainable resources (such as waste and
    agricultural/forestry residues), offshore wind, concentrating
    solar thermal, geothermal, ocean energy, nuclear and
    fossil/biomass plants with CCS. Additional storage technologies
    include redox flow batteries, compressed air energy storage,
    etc. Other options include demand-side management.</p>

    <p>2) No import or export capacities with other countries are
    assumed, so each country must meet the baseload profile by
    itself. Existing and planned transmission grid connections between
    countries can reduce costs by up to 20% by smoothing wind over a
    larger area.</p>

    <p>3) Costs here are for completely decarbonised electricity
    systems. Reaching lower levels of decarbonisation is much cheaper
    and doesn't necessarily require any storage at all.</p>

    <div id="assumptions">
      <h3>Choose technologies, costs and other assumptions</h3>
      <input type="text" name="country" value="FR"> European country (2-letter ISO code)<br />
      <br />
      <input type="number" name="year"> Weather year (from 1985 to 2015 inclusive)<br />
      <input type="number" name="frequency"> Sampling frequency (n-hourly, n>2 - big n solves faster)<br />
      <br />
      <input type="number" name="load"> Constant demand [MW]<br />
      <input type="checkbox" name="wind" checked> Wind turbine<br />
      <input type="number" name="wind_cost"> Wind capital cost (overnight) [EUR/kW]<br />
      <input type="checkbox" name="solar" checked> Solar photovoltaic cell<br />
      <input type="number" name="solar_cost"> Solar capital cost (overnight) [EUR/kW]<br />
      <input type="checkbox" name="battery" checked> Battery storage<br />
      <input type="number" name="battery_energy_cost"> Battery energy capital cost (overnight) [EUR/kWh]<br />
      <input type="number" name="battery_power_cost"> Battery power capital cost (overnight) [EUR/kW]<br />
      <input type="checkbox" name="hydrogen" checked> Hydrogen gas storage<br />
      <input type="number" name="hydrogen_energy_cost"> Hydrogen energy capital cost (overnight) [EUR/kWh]<br />
      <input type="number" name="hydrogen_electrolyser_cost"> Hydrogen electrolyser capital cost (overnight) [EUR/kW]<br />
      <input type="number" name="hydrogen_electrolyser_efficiency"> Hydrogen electrolyser efficiency [percent, HHV]<br />
      <input type="number" name="hydrogen_turbine_cost"> Hydrogen turbine capital cost (overnight) [EUR/kW]<br />
      <input type="number" name="hydrogen_turbine_efficiency"> Hydrogen turbine efficiency [percent, HHV]<br />
      <br />
      <input type="number" name="discount_rate"> Cost of capital / interest rate [percent]<br />
      <br />

      <div id="solve">
	<button id="solve-button">Solve</button>
	<p> Warning: It takes about 40 seconds to solve and return a
	result, please be patient! If there's a queue, it may take
	longer. We're working on improving the performance.</p>
	<p>Status: <span id="status">Waiting for job</span></p>
      </div>

    </div>

    <div id="selectCountry">
      <h3>Select European country</h3>
      <div id="mapid">
      </div>
    </div>

    <div id="results">
      <div id="results_summary">

      <h3>Results<span id="results_assumptions"></span></h3>

      <p>Baseload demand [MW]: <span id="load"></span></p>
      <table id="tab_results">
	<tr>
	  <th class="tab_asset" id="tabh_asset">Asset</th>
	  <th class="tab_data" id="tabh_capacity">Capacity</th>
	  <th class="tab_data" id="tabh_cf_available">Cap Ftr avail [%]</th>
	  <th class="tab_data" id="tabh_cf_used">Cap Ftr used [%]</th>
	  <th class="tab_data" id="tabh_curtailment">Curtailmt [%]</th>
	</tr>
	<tr>
	  <td class="tab_asset">Solar</td>
	  <td class="tab_data"><span id="solar_capacity"></span> MW</td>
	  <td class="tab_data"><span id="solar_cf_available"></span></td>
	  <td class="tab_data"><span id="solar_cf_used"></span></td>
	  <td class="tab_data"><span id="solar_curtailment"></span></td>
	</tr>
	<tr>
	  <td class="tab_asset">Wind</td>
	  <td class="tab_data"><span id="wind_capacity"></span> MW</td>
	  <td class="tab_data"><span id="wind_cf_available"></span></td>
	  <td class="tab_data"><span id="wind_cf_used"></span></td>
	  <td class="tab_data"><span id="wind_curtailment"></span></td>
	</tr>
	<tr>
	  <td class="tab_asset">Battery power</td>
	  <td class="tab_data"><span id="battery_power_capacity"></span> MW</td>
	  <td class="tab_data"></td>
	  <td class="tab_data"><span id="battery_power_cf_used"></span></td>
	  <td class="tab_data"></td>
	</tr>
	<tr>
	  <td class="tab_asset">Battery energy</td>
	  <td class="tab_data"><span id="battery_energy_capacity"></span> MWh</td>
	  <td class="tab_data"></td>
	  <td class="tab_data"></td>
	  <td class="tab_data"></td>
	</tr>
	<tr>
	  <td class="tab_asset">Hydrogen electrolyser</td>
	  <td class="tab_data"><span id="hydrogen_electrolyser_capacity"></span> MW</td>
	  <td class="tab_data"></td>
	  <td class="tab_data"><span id="hydrogen_electrolyser_cf_used"></span></td>
	  <td class="tab_data"></td>
	</tr>
	<tr>
	  <td class="tab_asset">Hydrogen turbine</td>
	  <td class="tab_data"><span id="hydrogen_turbine_capacity"></span> MW</td>
	  <td class="tab_data"></td>
	  <td class="tab_data"><span id="hydrogen_turbine_cf_used"></span></td>
	  <td class="tab_data"></td>
	</tr>
	<tr>
	  <td class="tab_asset">Hydrogen energy</td>
	  <td class="tab_data"><span id="hydrogen_energy_capacity"></span> MWh</td>
	  <td class="tab_data"></td>
	  <td class="tab_data"></td>
	  <td class="tab_data"></td>
	</tr>
      </table>
      <br />
      <p>Average system cost [EUR/MWh]: <span id="average_cost"></span></p>

    </div>
    <div id="average_cost_div">
      <svg width="110" height="400" id="average_cost_graph"></svg>
    </div>
    <div id="power_capacity">
      <svg width="110" height="400" id="power_capacity_graph"></svg>
    </div>
    <div id="energy_capacity">
      <svg width="110" height="400" id="energy_capacity_graph"></svg>
    </div>
    <div id="energy">
      <svg width="110" height="400" id="energy_graph"></svg>
    </div>
    <div id="legend">
      <h3>Legend</h3>
    </div>


    </div>

    <div id="graph">

      <p>Time period to display:
      <select name="jumpmenu" id="jumpmenu">
	<option value="year">full year</option>
      </select>
      </p>

      <svg width="1000" height="400" id="power"></svg>
    </div>

    <br />
    <br />
    <div id="end">
      <h3>Privacy statement</h3>
      No personal information is stored on our server. There are no cookies.

      Simulation assumptions for each run job are stored on the server for statistical purposes.
    </div>
  </div>
  <script src="{{ url_for('static', filename='solver.js') }}"></script>
</body>
</html>
